body {
  background-color: #1C1C1C;
  font-family: Arial, sans-serif;
}

h1 {
  color: #FFFFFF;
  text-align: center;
}

p {
  font-size: 18px;
  margin-botton: 20px;
  text-align: justify;
  padding: 0 20px;
  line-height: 1.5;
  color: #FFFFFF;
}
.button{
  background-color: #008080;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
}

.button:hover{
  background-color: #FF0000;
}
